*{
      margin:0;
      padding: 0;
      box-sizing: border-box;
      color:white;
      font-family: 'DynaPuff', cursive;
}
     

img{
      width:120px;
      height: auto;
      margin: 30px 0px;
      transition:2.5s all;

}
h2{
      padding: 5px 0px 10px 0px;
      font-size: 40px;
      text-decoration: underline;
      
}
h3{text-decoration:underline;
   color:rgb(78, 106, 143);
   font-size:30px;}
.contenedor{
      height:100vh;
      display:flex;
      justify-content: center;
      align-items: center;
      background-color:rgb(187, 207, 234)
      

}
.container{
      width:100%;
      background-color:rgb(187, 207, 234);
}
.bloque{
      width: 20%;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;

}
.bloque1{
      background-color: red;

}
.bloque2{
      background-color:blue;

}
.bloque3{
      background-color: green;
      
}
.bloque4{
      background-color:rgb(255, 132, 0);
}

.bloque1, .bloque2, .bloque3, .bloque4{
      position: absolute;
      width: 20%;
      height: 450px;
      transition:2.5s all;
}

.crecer1{
      z-index: 1;
      margin-left: 60%;
      width:80%;
}
.crecer2{
      z-index: 1;
      margin-left: 20%;
      width:80%;
}
.crecer3{
      z-index: 1;
      margin-right: 20%;
      width:80%;
}
.crecer4{
      z-index: 1;
      margin-right: 60%;
      width:80%;
}

.global{
      z-index: 2;
}

p{
      padding: 0 20px;
      font-size:20px;
      overflow: hidden;
      /* height:300px; */

}
a  {
      text-decoration: underline;
      text-decoration-color: aqua;
      
}
.bloque1 p{
      background:linear-gradient(to top,red,white);
      -webkit-background-clip: text;
      background-clip:text;
      -webkit-text-fill-color:transparent;
}
.bloque2 p{
      background:linear-gradient(to top,blue,white);
      -webkit-background-clip: text;
      background-clip:text;
      -webkit-text-fill-color:transparent;
}
.bloque3 p{
      background:linear-gradient(to top,green,white);
      -webkit-background-clip: text;
      background-clip:text;
      -webkit-text-fill-color:transparent;
}
.bloque4 p{
      background:linear-gradient(to top,yellow,white);
      -webkit-background-clip: text;
      background-clip:text;
      -webkit-text-fill-color:transparent;
}

.organizarTexto p{

   height:125px;
   width:80%;
   margin: auto;

   background:linear-gradient(to top,white,white);
   -webkit-background-clip: text;
   background-clip:text;
   -webkit-text-fill-color:transparent;
}


.organizarTexto h2{
      padding-top: 10px;
}

.organizarTexto img{
      width:250px;
      margin-bottom: 20px;
      border-radius:50%;
}
.titulo{
      background:rgb(187, 207, 234);      
      height: 150px;
      font-size: 50px;
      display:flex;
      justify-content:center;
      align-items:center;
}
.titulo h1{
      color:black;
}
.destino{
      width:100%;
      text-align: center;
      display: flex;
      justify-content: center;
      /* align-items: center; */

}
.lax{
      background-color: rgb(187, 207, 234);


}
.sf{
      background-color:rgb(187, 207, 234);
}

.lasvegas{
      background-color:rgb(187, 207, 234);
}

.contain{
      display:flex;
      flex-direction: column;;
      justify-content:space-around;
      align-items:center;
      
}
.contain img{
      width: 100%;
}

.destino img{
      width: 800px;
      border:10px solid rgb(201, 189, 230);
      border-radius:20px;
}
.ficha{
      display:flex;
      flex-direction:row;
      align-items: center;
      justify-content: space-around;
     
}
.ficha img {
      width:650px;
      height:400px;


}
.excursiones .ficha {
      display:flex;
      flex-wrap:wrap;
      flex-direction: row;
     
}
.portada{
      border-radius:20px;
}

.lax .portada{
      background-image:url(img/destinos/LosAngeles.jpg);
      background-repeat:no-repeat;
      background-size: cover;
      height: 700px;
}
.sf .portada{
      background-image: url(img/destinos/sanFrancisco1.jpg);
      background-repeat:no-repeat;
      background-size: cover;
      width: 100%;
      height: 700px;
}
.lasvegas .portada{
      background-image: url(img/destinos/lasVegas.jpg);
      background-repeat:no-repeat;
      background-size: cover;
      height: 700px

}
.sf .ficha img{
      width:550px;
      align-items: center;
      
}
.lax a{
      font-size:1.5em;
      color:blue;
      
}

.sf  a {
      font-size:1.5em;
      color:blue
}
.lasvegas a{
      font-size:1.5em;
      color:blue;
}
.sf .ficha{
      display:flex;
      justify-content:space-around;
     
}

.espaciador{
      width:100%;
      height:100px;
     
}